* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /*background-color: #d2dbdd;*/
}
.addToCart {
  margin-top: 15px;
  background-color: #20bf6b;
  color: white;
}

.center_div {
  width: 300px;
  height: 45px;
  background-color: rgb(21, 95, 174);
  box-shadow: 5px 5px 20px -5px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.h1 {
  color: white;
  width: 12%;
  margin-bottom: -65px;
  font-size: 20px;
}

.boton {
  color: #ffff;
  border-radius: 5%;
  border: none;
  outline: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  margin-top: 34px;
  padding: 0 15px;
  cursor: pointer;
  display: flex;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.boton:hover {
  background-color: #ffffff;
  transition: 300ms;
}

.btn_div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.todo_style {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

@media (max-width: 768px) {
  .center_div {
    width: 50%;
  }
  .boton {
    min-height: 40px;
    width: 40px;
    color: #fff;
    font-size: 30px;
    margin-left: 5px;
  }
}
